{% extends '__base.html' %}
{% load static %}
{% block title %}Portofolio Detail{% endblock title %}
{% block content %}
    <!-- Start Project Details Area-->
    <section class="portfolio-single mega-section">
        <div class="container">
            <div class="featured-area">
                <div class="row">
                    <div class="col-12  mx-auto">
                        <div class="project-featured-img"><img class="featured-img" loading="lazy"
                                                               src="{% static 'images/portfolio/featured-image.jpg' %}"
                                                               alt="featuerd image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-area">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h5 class="sub-heading">{{ portfolio.title }}</h5>
                        <p class="project-text">{{ portfolio.description }}</p>
                        {% comment %} <div class="project-video mega-section">
                            <div class="overlay-photo-image-bg"
                                 data-bg-img="{% static 'images/sections-bg-images/pattern-bg-4.jpg' %}"
                                 data-bg-opacity="1"></div>
                            <div class="overlay-color" data-bg-opacity=".25"></div>
                            <div class="video-wrapper">
                                <div class="play-btn-col-dir"><a class="video-link"
                                                                 href="https://www.youtube.com/watch?v=QI4_dGvZ5yE&amp;ab_channel=JUtah"
                                                                 role="button" title="play"
                                                                 data-fancybox="data-fancybox">
                                    <div class="play-video-btn">
                                        <div class="play-btn"><i class="fas fa-play icon"></i>
                                        </div>
                                    </div>
                                </a>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <h5 class="sub-heading">نمای کلی پروژه</h5>
                        <p class="project-text">
                            شاید این یک شکار باشد، اما آن را دنبال خواهد کرد، نخبگان آدیپیسی.
                            به نوعی، آنها دیگران را ترک می کنند، هیچ کس نمی تواند ببیند که آنها چه زمانی انتخاب می شوند
                            متاسفم که برخی از شیوه های خود بخشش را رد می کنم

                        </p>
                        <p class="project-text">
                            شاید این یک شکار باشد، اما آن را دنبال خواهد کرد، نخبگان آدیپیسی.
                            به نوعی، آنها دیگران را ترک می کنند، هیچ کس نمی تواند ببیند که آنها چه زمانی انتخاب می شوند
                            متاسفم که برخی از شیوه های خود بخشش را رد می کنم
                            او موظف به پیگیری واقعه است.
                            نتیجه درد آنها را می گیرد.
                            متاسفم که برخی از شیوه های خود بخشش را رد می کنم


                        </p>
                        <div class="row align-items-center py-5">
                            <div class="col-12 col-lg-6">
                                <h5 class="sub-heading">مراحل پروژه</h5>
                                <ul class="list steps">
                                    <li class="list-item step"><i class="bi bi-check2 icon"></i><span>درد خود نتیجه چربی سوزی است</span>
                                    </li>
                                    <li class="list-item step"><i class="bi bi-check2 icon"></i><span>که، در آن پرواز، یا که به دنبال خدمات کار است </span>
                                    </li>
                                    <li class="list-item step"><i class="bi bi-check2 icon"></i><span>در غیر این صورت، اجازه دهید او از برخی از سعادت حل نشده فرار کند، هرگز</span>
                                    </li>
                                    <li class="list-item step"><i class="bi bi-check2 icon"></i><span>ممکن است بتوانیم با کشف بزرگان خود اینها را بازتولید کنیم</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="seal-img"><img class="img-fluid"
                                                           src="{% static 'images/portfolio/seal.png' %}"
                                                           alt="seal image" loading="lazy"></div>
                            </div>
                        </div>
                        <h5 class="sub-heading">نتایج پروژه</h5>
                        <p class="project-text">
                            شاید این یک شکار باشد، اما آن را دنبال خواهد کرد، نخبگان آدیپیسی.
                            به نوعی، آنها دیگران را ترک می کنند، هیچ کس نمی تواند ببیند که آنها چه زمانی انتخاب می شوند
                            ملایمت انکار برخی تمرینات، عفو خود از ملایمت انکار چیزی

                        </p>
                        <div class="portfolio  portfolio-slider">
                            <!--Swiper-->
                            <div class="swiper-container wow fadeIn" data-wow-delay=".5s">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item"><a class="portfolio-img-link" href="images/portfolio/1.jpg"
                                                             data-fancybox=".show-in-fancybox"><img
                                                class="portfolio-img img-fluid" loading="lazy"
                                                src="{% static 'images/portfolio/1.jpg' %}" alt="عکس مورد نمونه کارها"/></a>
                                            <div class="item-info">
                                                <h3 class="item-title">برنامه های موبایل</h3><i
                                                    class="bi bi-eye icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item"><a class="portfolio-img-link" href="images/portfolio/2.jpg"
                                                             data-fancybox=".show-in-fancybox"><img
                                                class="portfolio-img img-fluid" loading="lazy"
                                                src="{% static 'images/portfolio/2.jpg' %}" alt="عکس مورد نمونه کارها"/></a>
                                            <div class="item-info">
                                                <h3 class="item-title">فضا</h3><i class="bi bi-eye icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item"><a class="portfolio-img-link" href="images/portfolio/3.jpg"
                                                             data-fancybox=".show-in-fancybox"><img
                                                class="portfolio-img img-fluid" loading="lazy"
                                                src="{% static 'images/portfolio/3.jpg' %}" alt="عکس مورد نمونه کارها"/></a>
                                            <div class="item-info">
                                                <h3 class="item-title">دیتا آنالیز</h3><i class="bi bi-eye icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item"><a class="portfolio-img-link" href="images/portfolio/4.jpg"
                                                             data-fancybox=".show-in-fancybox"><img
                                                class="portfolio-img img-fluid" loading="lazy"
                                                src="{% static 'images/portfolio/4.jpg' %}" alt="عکس مورد نمونه کارها"/></a>
                                            <div class="item-info">
                                                <h3 class="item-title">هاستینگ</h3><i class="bi bi-eye icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item"><a class="portfolio-img-link" href="images/portfolio/5.jpg"
                                                             data-fancybox=".show-in-fancybox"><img
                                                class="portfolio-img img-fluid" loading="lazy"
                                                src="{% static 'images/portfolio/5.jpg' %}" alt="عکس مورد نمونه کارها"/></a>
                                            <div class="item-info">
                                                <h3 class="item-title">سئو</h3><i class="bi bi-eye icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item"><a class="portfolio-img-link" href="images/portfolio/6.jpg"
                                                             data-fancybox=".show-in-fancybox"><img
                                                class="portfolio-img img-fluid" loading="lazy"
                                                src="{% static 'images/portfolio/6.jpg' %}" alt="عکس مورد نمونه کارها"/></a>
                                            <div class="item-info">
                                                <h3 class="item-title">بقیه دسته بندی ها</h3><i
                                                    class="bi bi-eye icon"></i>
                                            </div>
                                        </div>
                                        <!--navigation buttons-->
                                    </div>
                                </div>
                                <div class="swiper-button-prev">
                                    <div class="left-arrow"><i class="bi bi-chevron-right icon"></i>
                                    </div>
                                </div>
                                <div class="swiper-button-next">
                                    <div class="right-arrow"><i class="bi bi-chevron-left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="info-area">
                            <div class="project-info">
                                <div class="row">
                                    <div class="col-6 col-lg-12">
                                        <div class="info">
                                            <h5 class="title"> مشتری</h5>
                                            <p class="detail">{{ portfolio.customer }}</p><i class="fas fa-address-card icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-12">
                                        <div class="info">
                                            <h5 class="title">دسته بندی</h5>
                                            <p class="detail">{{ portfolio.category }}</p><i class="fas fa-tasks icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-12">
                                        <div class="info">
                                            <h5 class="title">تاریخ</h5>
                                            <p class="detail">{{ portfolio.datetime_created }}</p><i class="fas fa-calendar-alt icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-12">
                                        <div class="info">
                                            <h5 class="title">اشتراک گذاری</h5>
                                            <div class="sc-wrapper dir-row sc-size-40">
                                                <ul class="sc-list">
                                                    <li class="sc-item" title="فیسبوک"><a class="sc-link" href="#0"
                                                                                          title="آیکون شبکه اجتمایی"><i
                                                            class="fab fa-facebook-f sc-icon"></i></a></li>
                                                    <li class="sc-item" title="یوتوب"><a class="sc-link" href="#0"
                                                                                         title="آیکون شبکه اجتمایی"><i
                                                            class="fab fa-youtube sc-icon"></i></a></li>
                                                    <li class="sc-item" title="اینستاگرام"><a class="sc-link" href="#0"
                                                                                              title="آیکون شبکه اجتمایی"><i
                                                            class="fab fa-instagram sc-icon"></i></a></li>
                                                    <li class="sc-item" title="توییتر"><a class="sc-link" href="#0"
                                                                                          title="آیکون شبکه اجتمایی"><i
                                                            class="fab fa-twitter sc-icon"></i></a></li>
                                                </ul>
                                            </div>
                                            <i class="fas fa-share-alt icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End  Project Details Area-->
    <!-- Start  take-action Section-->
    <section class="take-action elf-section has-dark-bg" id="take-action">
        <div class="overlay-photo-image-bg" data-bg-img="{% static 'images/sections-bg-images/2.jpg' %}"
             data-bg-opacity=".25"></div>
        <div class="cta-wrapper">
            <div class="container">
                <div class="sec-heading  centered mb-0">
                    <div class="content-area"><span class="pre-title  wow fadeInUp"
                                                    data-wow-delay=".2s">تماس با ما</span>
                        <h2 class=" title   wow fadeInUp" data-wow-delay=".4s">ارتباط با ما</h2>
                        <p class="subtitle   wow fadeInUp" data-wow-delay=".6s">لورم ایپسوم متن ساختگی با تولید سادگی
                            نامفهوم از صنعت <br>بهترین نوع ارتباط با ما ، تلفنی است.</p>
                    </div>
                </div>
                <!--Start .see-more-area-->
                <div class=" see-more-area wow fadeInUp" data-wow-delay="0.8s"><a class=" btn-solid cta-link"
                                                                                  href="contact-us.html">تماس با ما</a>
                </div>
                <!--End Of .see-more-area        -->
            </div>
        </div>
    </section>
    <!-- End  take-action Section-->


{% endblock content %}