{% extends '__base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block content %}
    
    <!-- Start  about Section-->
    <section class="about mega-section" id="about">
      <div class="container">
        <!-- Start first about div-->
        <div class="content-block">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center order-1 order-lg-0 about-col pad-end  wow fadeInUp" data-wow-delay="0.6s">
              <div class="text-area">
                <div class="sec-heading  light-title">
                  <div class="content-area"><span class="pre-title  wow fadeInUp" data-wow-delay=".2s">درباره ما</span>
                    <h2 class=" title   wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>اعتماد ما از</span> توسط مشتریان در سراسر جهان از آن زمان<span class='featured-text'>  1360. <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path></svg></span></h2>
     </div>
   </div>
                <p class="about-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و</p>
                <div class="info-items-list">
                  <div class="row">
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-medal  info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">اول در زمین </h5>
                          <p class="info-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از</p>
           </div>
         </div>
       </div>
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-game-console info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">دستیابی به آن آسان است </h5>
                          <p class="info-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از</p>
           </div>
         </div>
       </div>
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-map info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">خدمات در سراسر جهان  </h5>
                          <p class="info-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از</p>
           </div>
         </div>
       </div>
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-technical-support-1  info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">24/7 پشتیبانی  </h5>
                          <p class="info-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از</p>
           </div>
         </div>
       </div>
     </div>
   </div>
                <div class="cta-area"><a class=" btn-solid reveal-start" href="about-us.html">با ما در ارتباط باشید</a>
                  <div class="signature">
                    <div class="signature-img"></div>
                    <div class="signature-name">سئو &amp; موسس </div>
     </div>
   </div>
 </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center order-0 order-lg-1 about-col  wow fadeInUp" data-wow-delay="0.2s">
              <div class="img-area" data-tilt>
                <div class="image"><img class="about-img img-fluid" loading="lazy" src="{% static 'images/about/3.png'%}" alt="ویژن ما"></div>
 </div>
            </div>
          </div>
        </div>
        <!--End first about div-->
      </div>
    </section>
    <!-- End  about Section-->
    <!-- Start  our-team Section-->
    <section class="our-team mega-section" id="our-team">
      <div class="container">
        <div class="sec-heading">
          <div class="content-area"><span class="pre-title  wow fadeInUp" data-wow-delay=".2s">تیم</span>
            <h2 class=" title   wow fadeInUp" data-wow-delay=".4s"> ما <span class='hollow-text'>استادکار</span> اعضای تیم</h2>
          </div>
          <div class=" cta-area  cta-area  wow fadeInUp" data-wow-delay=".8s"><a class="cta-btn btn-solid   cta-btn btn-solid" href="our-team.html">بیشتر ببینید<i class="bi bi-arrow-left icon"></i></a></div>
        </div>
        <div class="container">
          <div class="row">
            <!--first اعضای تیم-->
            <div class="col-12 col-md-8  col-lg-4 mx-md-auto">
              <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.1s">
                <div class="tm-image js-tilt"><a class="tm-link" href="team-member.html"> 
                    <div class="overlay overlay-color"></div><img class="img-fluid parallax-img" loading="lazy" src="{% static 'images/our-team/1.jpg'%}" alt="اعضای تیم"/></a>
                  <div class="tm-social">
                    <div class="sc-wrapper dir-row sc-size-40">
                      <ul class="sc-list">
                        <li class="sc-item" title="فیسبوک"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                        <li class="sc-item" title="یوتوب"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-youtube sc-icon"></i></a></li>
                        <li class="sc-item" title="اینستاگرام"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-instagram sc-icon"></i></a></li>
                        <li class="sc-item" title="توییتر"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-twitter sc-icon"></i></a></li>
                      </ul>
       </div>
     </div>
   </div>
                <div class="tm-details"><a class="tm-link" href="team-member.html"> 
                    <h6 class="tm-name">مراد علی</h6></a><span class="tm-role">دستیار موسس   </span></div>
 </div>
            </div>
            <!--Second اعضای تیم-->
            <div class="col-12 col-md-8  col-lg-4 mx-md-auto">
              <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.2s">
                <div class="tm-image js-tilt"><a class="tm-link" href="team-member.html"> 
                    <div class="overlay overlay-color"></div><img class="img-fluid parallax-img" loading="lazy" src="{% static 'images/our-team/2.jpg'%}" alt="اعضای تیم"/></a>
                  <div class="tm-social">
                    <div class="sc-wrapper dir-row sc-size-40">
                      <ul class="sc-list">
                        <li class="sc-item" title="فیسبوک"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                        <li class="sc-item" title="یوتوب"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-youtube sc-icon"></i></a></li>
                        <li class="sc-item" title="اینستاگرام"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-instagram sc-icon"></i></a></li>
                        <li class="sc-item" title="توییتر"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-twitter sc-icon"></i></a></li>
                      </ul>
       </div>
     </div>
   </div>
                <div class="tm-details"><a class="tm-link" href="team-member.html"> 
                    <h6 class="tm-name">فریبرز احمدی</h6></a><span class="tm-role">مدیر  </span></div>
 </div>
            </div>
            <!--Third اعضای تیم-->
            <div class="col-12 col-md-8  col-lg-4 mx-md-auto">
              <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.4s">
                <div class="tm-image js-tilt"><a class="tm-link" href="team-member.html"> 
                    <div class="overlay overlay-color"></div><img class="img-fluid parallax-img" loading="lazy" src="{% static 'images/our-team/3.jpg'%}" alt="اعضای تیم"/></a>
                  <div class="tm-social">
                    <div class="sc-wrapper dir-row sc-size-40">
                      <ul class="sc-list">
                        <li class="sc-item" title="فیسبوک"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                        <li class="sc-item" title="یوتوب"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-youtube sc-icon"></i></a></li>
                        <li class="sc-item" title="اینستاگرام"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-instagram sc-icon"></i></a></li>
                        <li class="sc-item" title="توییتر"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-twitter sc-icon"></i></a></li>
                      </ul>
       </div>
     </div>
   </div>
                <div class="tm-details"><a class="tm-link" href="team-member.html"> 
                    <h6 class="tm-name">جمشید ایرانی</h6></a><span class="tm-role">دستیار مدیر   </span></div>
 </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End  our-team Section-->
    <!-- Start  testimonials-->
    <section class="testimonials testimonials-1-col   has-dark-bg  mega-section" id="testimonials-img-bg">
      <div class="overlay-photo-image-bg parallax" data-bg-img="{% static 'images/sections-bg-images/1.jpg'%}" data-bg-opacity=".25"> </div>
      <div class="container">
        <div class="sec-heading  centered">
          <div class="content-area"><span class="pre-title  wow fadeInUp" data-wow-delay=".2s">گفت و گو ها</span>
            <h2 class=" title   wow fadeInUp" data-wow-delay=".4s">مشتری ها <span class='hollow-text'>دیدگاه ها</span></h2>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md-10  mx-auto">
            <div class="swiper-container  wow fadeInUp" data-wow-delay="0.2s">
              <div class="swiper-wrapper">
                <!--First Slide-->
                <div class="swiper-slide">
                  <div class="testmonial-card d-flex align-items-center justify-content-center">
                    <div class="testimonial-content">
                      <div class="customer-img"><img class="img-fluid" loading="lazy" src="{% static 'images/testimonials/1.png'%}" alt="First Slide"></div>
                      <div class="customer-testimonial">
                        <div class="content">
                          <p class="testimonial-text">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و .</p>
           </div>
         </div>
                      <div class="customer-info">
                        <div class="customer-details">
                          <p class="customer-name">یوسف امین</p>
                          <p class="customer-role">موسس</p>
           </div>
         </div>
       </div>
     </div>
   </div>
                <!--Second Slide-->
                <div class="swiper-slide">
                  <div class="testmonial-card d-flex align-items-center justify-content-center">
                    <div class="testimonial-content">
                      <div class="customer-img"><img class="img-fluid" loading="lazy" src="{% static 'images/testimonials/2.png'%}" alt="First Slide"></div>
                      <div class="customer-testimonial">
                        <div class="content">
                          <p class="testimonial-text">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و .</p>
           </div>
         </div>
                      <div class="customer-info">
                        <div class="customer-details">
                          <p class="customer-name">جمشید ایرانی</p>
                          <p class="customer-role">دفتر دار</p>
           </div>
         </div>
       </div>
     </div>
   </div>
                <!--third Slide-->
                <div class="swiper-slide">
                  <div class="testmonial-card d-flex align-items-center justify-content-center">
                    <div class="testimonial-content">
                      <div class="customer-img"><img class="img-fluid" loading="lazy" src="{% static 'images/testimonials/3.png'%}" alt="First Slide"></div>
                      <div class="customer-testimonial">
                        <div class="content">
                          <p class="testimonial-text">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و .            </p>
           </div>
         </div>
                      <div class="customer-info">
                        <div class="customer-details">
                          <p class="customer-name">فریبرز ایرانی</p>
                          <p class="customer-role">مدیر</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
              <!--navigation buttons-->
              <div class="swiper-button-prev">
                <div class="left-arrow"><i class="bi bi-chevron-right icon"></i>
   </div>
 </div>
              <div class="swiper-button-next">
                <div class="right-arrow"><i class="bi bi-chevron-left icon"></i>
   </div>
 </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End  testimonials-->
    <!-- Start  our-clients Section-->
    <section class="our-clients  bg-main elf-section" id="our-clients">
      <div class="container-fluid">
        <div class="sec-heading d-none">
          <h4 class="title">our great clients</h4>
        </div>
        <div class=" clients-logos d-flex align-items-center justify-content-around flex-wrap">
          <!--Swiper-->
          <div class="swiper-container">
            <div class="swiper-wrapper clients-logo-wrapper wow fadeIn" data-wow-delay=".02s">
              <!--                        هر آرم مشتری در داخل Div با کلاس قرار دارد name"swiper-slide".
              اگر می خواهید آرم های بیشتری اضافه کنید ، لطفاً ساختار Swiper-Slide را مطابق شکل زیر نگه دارید
              
              
              -->
              
              
              -->
              <div class="swiper-slide">
                <div class="client-logo"><a href="#0"><img class="img-fluid logo" loading="lazy" src="{% static 'images/clients-logos/1-white.png'%}" alt=""></a></div>
 </div>
              <div class="swiper-slide">
                <div class="client-logo"><a href="#0"><img class="img-fluid logo" loading="lazy" src="{% static 'images/clients-logos/2-white.png'%}" alt=""></a></div>
 </div>
              <div class="swiper-slide">
                <div class="client-logo"><a href="#0"><img class="img-fluid logo" loading="lazy" src="{% static 'images/clients-logos/3-white.png'%}" alt=""></a></div>
 </div>
              <div class="swiper-slide">
                <div class="client-logo"><a href="#0"><img class="img-fluid logo" loading="lazy" src="{% static 'images/clients-logos/4-white.png'%}" alt=""></a></div>
 </div>
              <div class="swiper-slide">
                <div class="client-logo"><a href="#0"><img class="img-fluid logo" loading="lazy" src="{% static 'images/clients-logos/5-white.png'%}" alt=""></a></div>
 </div>
              <div class="swiper-slide">
                <div class="client-logo"><a href="#0"><img class="img-fluid logo" loading="lazy" src="{% static 'images/clients-logos/6-white.png'%}" alt=""></a></div>
 </div>
              <div class="swiper-slide">
                <div class="client-logo"><a href="#0"><img class="img-fluid logo" loading="lazy" src="{% static 'images/clients-logos/7-white.png'%}" alt=""></a></div>
 </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End  our-clients Section-->
    <!-- Start  blog Section-->
    <section class="blog blog-home mega-section" id="blog">
      <div class="container">
        <div class="sec-heading">
          <div class="content-area"><span class="pre-title  wow fadeInUp" data-wow-delay=".2s">بلاگ</span>
            <h2 class=" title   wow fadeInUp" data-wow-delay=".4s">آخرین <span class='hollow-text'> خبر ها</span></h2>
          </div>
          <div class=" cta-area  cta-area  wow fadeInUp" data-wow-delay=".8s"><a class="cta-btn btn-solid   cta-btn btn-solid" href="blog-home-3-col.html">دیدن تمامی پست ها<i class="bi bi-arrow-left icon"></i></a></div>
        </div>
        <div class="row">
          <div class="col-12"> 
            <div class="posts-grid">
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div class="post-box">     <a class="post-link" href="post-single.html" title="چگونه فناوری لایت اسپیدبرای سرعت بخشیدن به سایت شما کار می کند"> 
                      <div class="post-img-wrapper"><img class=" parallax-img   post-img" loading="lazy" src="{% static 'images/blog/post-images/1.jpg'%}" alt=""/><span class="post-date"><span class="day">05 </span>آذر 1402     </span></div></a>
                    <div class="post-summary">
                      <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>هاستینگ</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>جمشید خارجی</a></div>
                      <div class="post-text"><a class="post-link" href="post-single.html"> 
                          <h2 class="post-title"> چگونه فناوری لایت اسپیدبرای سرعت بخشیدن به سایت شما کار می کند </h2></a>
                        <p class="post-excerpt">شاید جالب باشد ولی هست, بهترین روش پاراگراف نویسی و متن پیشفرض این است</p><a class="read-more" href="post-single.html" title="چگونه فناوری لایت اسپیدبرای سرعت بخشیدن به سایت شما کار می کند">ادامه مطلب<i class="bi bi-arrow-left icon"></i></a>
         </div>
       </div>
     </div>
   </div>
                <div class="col-12 col-lg-4">         
                  <div class="post-box">     <a class="post-link" href="post-single.html" title="به وب سایت خود ظاهری جدید و با مضامین ارائه دهید"> 
                      <div class="post-img-wrapper"><img class=" parallax-img   post-img" loading="lazy" src="{% static 'images/blog/post-images/2.jpg'%}" alt=""/><span class="post-date"><span class="day">15 </span>مهر 1402     </span></div></a>
                    <div class="post-summary">
                      <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>طراحی وب</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>عرفان ایرانی</a></div>
                      <div class="post-text"><a class="post-link" href="post-single.html"> 
                          <h2 class="post-title"> به وب سایت خود ظاهری جدید و با مضامین ارائه دهید</h2></a>
                        <p class="post-excerpt">شاید جالب باشد ولی هست, بهترین روش پاراگراف نویسی و متن پیشفرض این است</p><a class="read-more" href="post-single.html" title="به وب سایت خود ظاهری جدید و با مضامین ارائه دهید">ادامه مطلب<i class="bi bi-arrow-left icon"></i></a>
         </div>
       </div>
     </div>
   </div>
                <div class="col-12 col-lg-4">         
                  <div class="post-box">     <a class="post-link" href="post-single.html" title="نقش نام دامنه در جهان سئو توضیح داده شده است"> 
                      <div class="post-img-wrapper"><img class=" parallax-img   post-img" loading="lazy" src="{% static 'images/blog/post-images/3.jpg'%}" alt=""/><span class="post-date"><span class="day">27 </span>بهمن 1402     </span></div></a>
                    <div class="post-summary">
                      <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>سئو</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>یوسف امین</a></div>
                      <div class="post-text"><a class="post-link" href="post-single.html"> 
                          <h2 class="post-title"> نقش نام دامنه در جهان سئو توضیح داده شده است </h2></a>
                        <p class="post-excerpt">شاید جالب باشد ولی هست, بهترین روش پاراگراف نویسی و متن پیشفرض این است</p><a class="read-more" href="post-single.html" title="نقش نام دامنه در جهان سئو توضیح داده شده است">ادامه مطلب<i class="bi bi-arrow-left icon"></i></a>
         </div>
       </div>
     </div>
   </div>
 </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End  blog Section-->
    <!-- Start  take-action Section-->
    <section class="take-action elf-section has-dark-bg" id="take-action">
      <div class="overlay-photo-image-bg" data-bg-img="{% static 'images/sections-bg-images/2.jpg'%}" data-bg-opacity=".25"> </div>
      <div class="cta-wrapper">
        <div class="container">
          <div class="sec-heading  centered mb-0">
            <div class="content-area"><span class="pre-title  wow fadeInUp" data-wow-delay=".2s">تماس با ما</span>
              <h2 class=" title   wow fadeInUp" data-wow-delay=".4s">ارتباط با ما</h2>
              <p class="subtitle   wow fadeInUp" data-wow-delay=".6s">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت <br>بهترین نوع ارتباط با ما ، تلفنی است.</p>
            </div>
          </div>
          <!--Start .see-more-area-->
          <div class=" see-more-area wow fadeInUp" data-wow-delay="0.8s"><a class=" btn-solid cta-link" href="contact-us.html">تماس با ما</a></div>
          <!--End Of .see-more-area        -->
        </div>
      </div>
    </section>
    <!-- End  take-action Section-->
{% endblock content%}