{% extends '__base.html' %}
{% block title %}Faq{% endblock title %}
{% block content %}
    <!-- Start  faq-1 section-->
    <section class="faq mega-section" id="faq">
      <div class="shape-top-left"></div>
      <div class="shape-bottom-right"></div>
      <div class="pattern-top-end-dir"></div>
      <div class="pattern-bottom-start-dir"></div>
      <div class="container">
        <div class="sec-heading  centered">
          <div class="content-area"><span class="pre-title  wow fadeInUp" data-wow-delay=".2s">پرسش و پاسخ ها</span>
            <h2 class=" title   wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>مکررا </span> سؤالات پرسیده شده </h2>
          </div>
        </div>
        <!--Start Accordion List For FAQ-->
        <div class="faq-accordion" id="accordion">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="card mb-2">
                <div class="card-header" id="heading-1">
                  <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">آیا استفاده از خدمات شما آسان است؟</button>
                  </h5>
   </div>
                <div class="collapse" id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                  <div class="card-body">
                    <p class="faq-answer">mhmd، ذهن آماده انتقاد از کلیشه است، زیرا این زندگی بالاست
          ما تری ریچاردسون را به ماهی مرکب متهم می کنیم. 3 سرویس ماه گرگ
          ولی
          نه میل به اسکیت سواری، بلکه میل به صبحانه. کینوا کامیون مواد غذایی
          آنها نمی دانند
          از این قبیل کارها برانچ 3 گرگ زمان ماه، برخی از قرار دادن وجود دارد
          آ
          پرنده روی آن ماهی مرکب قهوه تک منشا بدون فرض
          کوتاه کردن
          و جای نگرانی نیست keffiyeh سوئیس، آبجو صنایع دستی کار سخت
          اندرسون
          من معتقدم آنها نمی دانند که عاقل هستند. به جز وگان ها
          قصاب
          چرخش لومو شلوار لی تیره آبجو دستی مزرعه تا میز. </p>
     </div>
   </div>
 </div>
              <div class="card mb-2">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">آیا به روز رسانی های آینده را دریافت خواهم کرد؟</button>
                  </h5>
   </div>
                <div class="collapse" id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                  <div class="card-body">
                    <p class="faq-answer">mhmd، ذهن آماده انتقاد از کلیشه است، زیرا این زندگی بالاست
          ما تری ریچاردسون را به ماهی مرکب متهم می کنیم. 3 سرویس ماه گرگ
          ولی
          نه میل به اسکیت سواری، بلکه میل به صبحانه. کینوا کامیون مواد غذایی
          آنها نمی دانند
          از این قبیل کارها برانچ 3 گرگ زمان ماه، برخی از قرار دادن وجود دارد
          آ
          پرنده روی آن ماهی مرکب قهوه تک منشا بدون فرض
          کوتاه کردن
          و جای نگرانی نیست keffiyeh سوئیس، آبجو صنایع دستی کار سخت
          اندرسون
          من معتقدم آنها نمی دانند که عاقل هستند. به جز وگان ها
          قصاب
          چرخش لومو شلوار لی تیره آبجو دستی مزرعه تا میز. </p>
     </div>
   </div>
 </div>
              <div class="card mb-2">
                <div class="card-header" id="heading-3">
                  <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">آیا این سرویس در کشور من کار می کند؟</button>
                  </h5>
   </div>
                <div class="collapse" id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                  <div class="card-body">
                    <p class="faq-answer">mhmd، ذهن آماده انتقاد از کلیشه است، زیرا این زندگی بالاست
          ما تری ریچاردسون را به ماهی مرکب متهم می کنیم. 3 سرویس ماه گرگ
          ولی
          نه میل به اسکیت سواری، بلکه میل به صبحانه. کینوا کامیون مواد غذایی
          آنها نمی دانند
          از این قبیل کارها برانچ 3 گرگ زمان ماه، برخی از قرار دادن وجود دارد
          آ
          پرنده روی آن ماهی مرکب قهوه تک منشا بدون فرض
          کوتاه کردن
          و جای نگرانی نیست keffiyeh سوئیس، آبجو صنایع دستی کار سخت
          اندرسون
          من معتقدم آنها نمی دانند که عاقل هستند. به جز وگان ها
          قصاب
          چرخش لومو شلوار لی تیره آبجو دستی مزرعه تا میز. </p>
     </div>
   </div>
 </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card mb-2">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">چقدر باید بپردازم؟</button>
                  </h5>
   </div>
                <div class="collapse" id="collapse-4" aria-labelledby="collapse-4" data-bs-parent="#accordion">
                  <div class="card-body">
                    <p class="faq-answer">mhmd، ذهن آماده انتقاد از کلیشه است، زیرا این زندگی بالاست
          ما تری ریچاردسون را به ماهی مرکب متهم می کنیم. 3 سرویس ماه گرگ
          ولی
          نه میل به اسکیت سواری، بلکه میل به صبحانه. کینوا کامیون مواد غذایی
          آنها نمی دانند
          از این قبیل کارها برانچ 3 گرگ زمان ماه، برخی از قرار دادن وجود دارد
          آ
          پرنده روی آن ماهی مرکب قهوه تک منشا بدون فرض
          کوتاه کردن
          و جای نگرانی نیست keffiyeh سوئیس، آبجو صنایع دستی کار سخت
          اندرسون
          من معتقدم آنها نمی دانند که عاقل هستند. به جز وگان ها
          قصاب
          چرخش لومو شلوار لی تیره آبجو دستی مزرعه تا میز. </p>
     </div>
   </div>
 </div>
              <div class="card mb-2">
                <div class="card-header" id="heading-5">
                  <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">آیا هزینه های دیگری وجود دارد؟</button>
                  </h5>
   </div>
                <div class="collapse" id="collapse-5" aria-labelledby="collapse-5" data-bs-parent="#accordion">
                  <div class="card-body">
                    <p class="faq-answer">mhmd، ذهن آماده انتقاد از کلیشه است، زیرا این زندگی بالاست
          ما تری ریچاردسون را به ماهی مرکب متهم می کنیم. 3 سرویس ماه گرگ
          ولی
          نه میل به اسکیت سواری، بلکه میل به صبحانه. کینوا کامیون مواد غذایی
          آنها نمی دانند
          از این قبیل کارها برانچ 3 گرگ زمان ماه، برخی از قرار دادن وجود دارد
          آ
          پرنده روی آن ماهی مرکب قهوه تک منشا بدون فرض
          کوتاه کردن
          و جای نگرانی نیست keffiyeh سوئیس، آبجو صنایع دستی کار سخت
          اندرسون
          من معتقدم آنها نمی دانند که عاقل هستند. به جز وگان ها
          قصاب
          چرخش لومو شلوار لی تیره آبجو دستی مزرعه تا میز. </p>
     </div>
   </div>
 </div>
              <div class="card mb-2">
                <div class="card-header" id="heading-6">
                  <h5 class="mb-0 faq-title">
                    <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6"> چگونه می توانم قرارداد را امضا کنم؟</button>
                  </h5>
   </div>
                <div class="collapse" id="collapse-6" aria-labelledby="collapse-6" data-bs-parent="#accordion">
                  <div class="card-body">
                    <p class="faq-answer">mhmd، ذهن آماده انتقاد از کلیشه است، زیرا این زندگی بالاست
          ما تری ریچاردسون را به ماهی مرکب متهم می کنیم. 3 سرویس ماه گرگ
          ولی
          نه میل به اسکیت سواری، بلکه میل به صبحانه. کینوا کامیون مواد غذایی
          آنها نمی دانند
          از این قبیل کارها برانچ 3 گرگ زمان ماه، برخی از قرار دادن وجود دارد
          آ
          پرنده روی آن ماهی مرکب قهوه تک منشا بدون فرض
          کوتاه کردن
          و جای نگرانی نیست keffiyeh سوئیس، آبجو صنایع دستی کار سخت
          اندرسون
          من معتقدم آنها نمی دانند که عاقل هستند. به جز وگان ها
          قصاب
          چرخش لومو شلوار لی تیره آبجو دستی مزرعه تا میز. </p>
     </div>
   </div>
 </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End  faq-1 section-->
    <!-- Start  take-action Section-->
    <section class="take-action elf-section has-dark-bg" id="take-action">
      <div class="overlay-photo-image-bg" data-bg-img="images/sections-bg-images/2.jpg" data-bg-opacity=".25"> </div>
      <div class="cta-wrapper">
        <div class="container">
          <div class="sec-heading  centered mb-0">
            <div class="content-area"><span class="pre-title  wow fadeInUp" data-wow-delay=".2s">تماس با ما</span>
              <h2 class=" title   wow fadeInUp" data-wow-delay=".4s">ارتباط با ما</h2>
              <p class="subtitle   wow fadeInUp" data-wow-delay=".6s">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت <br>بهترین نوع ارتباط با ما ، تلفنی است.</p>
            </div>
          </div>
          <!--Start .see-more-area-->
          <div class=" see-more-area wow fadeInUp" data-wow-delay="0.8s"><a class=" btn-solid cta-link" href="contact-us.html">تماس با ما</a></div>
          <!--End Of .see-more-area        -->
        </div>
      </div>
    </section>
    <!-- End  take-action Section-->
{% endblock content %}