{% extends '__base.html' %}
{% load static %}
{% block title %}Faq{% endblock title %}
{% block content %}
    <!-- Start  faq-1 section-->
    <section class="faq mega-section" id="faq">
        <div class="shape-top-left"></div>
        <div class="shape-bottom-right"></div>
        <div class="pattern-top-end-dir"></div>
        <div class="pattern-bottom-start-dir"></div>
        <div class="container">
            <div class="sec-heading  centered">
                <div class="content-area"><span class="pre-title  wow fadeInUp"
                                                data-wow-delay=".2s">پرسش و پاسخ ها</span>
                    <h2 class=" title   wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>مکررا </span>
                        سؤالات پرسیده شده </h2>
                </div>
            </div>
            <!--Start Accordion List For FAQ-->
            <div class="faq-accordion" id="accordion">
                <div class="row">
                    {% for item in faq %}
                    <div class="col-12 col-lg-6">
                        <div class="card mb-2">
                            <div class="card-header" id="heading-1">
                                <h5 class="mb-0 faq-title">
                                    <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#collapse-{{item.id}}" aria-expanded="true" aria-controls="collapse-{{item.id}}">{{item.title}}
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="collapse-{{item.id}}" aria-labelledby="collapse-{{item.id}}" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <p class="faq-answer">{{item.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End  faq-1 section-->
    <!-- Start  take-action Section-->
    <section class="take-action elf-section has-dark-bg" id="take-action">
        <div class="overlay-photo-image-bg" data-bg-img="{% static 'images/sections-bg-images/2.jpg' %}"
             data-bg-opacity=".25"></div>
        <div class="cta-wrapper">
            <div class="container">
                <div class="sec-heading  centered mb-0">
                    <div class="content-area"><span class="pre-title  wow fadeInUp"
                                                    data-wow-delay=".2s">تماس با ما</span>
                        <h2 class=" title   wow fadeInUp" data-wow-delay=".4s">ارتباط با ما</h2>
                        <p class="subtitle   wow fadeInUp" data-wow-delay=".6s">لورم ایپسوم متن ساختگی با تولید سادگی
                            نامفهوم از صنعت <br>بهترین نوع ارتباط با ما ، تلفنی است.</p>
                    </div>
                </div>
                <!--Start .see-more-area-->
                <div class=" see-more-area wow fadeInUp" data-wow-delay="0.8s"><a class=" btn-solid cta-link"
                                                                                  href="contact-us.html">تماس با ما</a>
                </div>
                <!--End Of .see-more-area        -->
            </div>
        </div>
    </section>
    <!-- End  take-action Section-->
{% endblock content %}