{% extends '__base.html' %}
{% block title %}Service Detail{% endblock title %}
{% block content %}
    <!-- Start inner Page hero-->
    <div class="service-single"> 
      <div class="container">
        <div class="row">
          <!--Start service content-->
          <div class="col-12 col-xl-8">
            <div class="service-content-area">
              <div class="featured-img-area part"><img class="feat-img img-fluid" src="images/services/service-single-featured-img.jpg" alt="تصویر شاخص"></div>
              <div class="service-content">
                <div class="part">
                  <h2 class="service-title">خدمات امنیتی اطلاعات ما تخفیف داریم</h2>
                  <p class="service-text">شاید جالب باشد ولی  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان </p>
                  <p class="service-text">شاید جالب باشد ولی هست  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان  </p>
   </div>
                <div class="part">
                  <div class="two-cols-img">
                    <div class="row">
                      <div class="col-12 col-md-6 mb-3">
                        <div class="img-col"><img class="img-fluid" src="images/services/service-single-img-col-1.jpg" loading="lazy" alt="خدمات تک سرویس"></div>
         </div>
                      <div class="col-12 col-md-6">
                        <div class="img-col"><img class="img-fluid" src="images/services/service-single-img-col-2.jpg" loading="lazy" alt="خدمات تک سرویس"></div>
         </div>
       </div>
     </div>
   </div>
                <div class="part">
                  <h2 class="service-title">خدمات امنیتی اطلاعات ما تخفیف داریم</h2>
                  <p class="service-text">شاید جالب باشد ولی هست لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای  . </p>
                  <p class="service-text">شاید جالب باشد ولی هست لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای  </p>
   </div>
                <div class="part">
                  <div class="info-items-list">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="info-item"><span class="info-number">01.</span>
                          <div class="info-content">
                            <h5 class="info-title">آخرین تکنولوژی ها </h5>
                            <p class="info-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از</p>
             </div>
           </div>
         </div>
                      <div class="col-12 col-md-6">
                        <div class="info-item"><span class="info-number">02.</span>
                          <div class="info-content">
                            <h5 class="info-title">راه حل های منحصر به فرد </h5>
                            <p class="info-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از</p>
             </div>
           </div>
         </div>
                      <div class="col-12 col-md-6">
                        <div class="info-item"><span class="info-number">03.</span>
                          <div class="info-content">
                            <h5 class="info-title">استراتژی های قدرتمند </h5>
                            <p class="info-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از</p>
             </div>
           </div>
         </div>
                      <div class="col-12 col-md-6">
                        <div class="info-item"><span class="info-number">04.</span>
                          <div class="info-content">
                            <h5 class="info-title">دلیور فقط به موقع </h5>
                            <p class="info-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
                <div class="part">
                  <h2 class="service-title"> بیشتر س سوال ها الات پرسیده شده</h2>
                  <div class="faq">           
                    <!--Start Accordion List For FAQ-->
                    <div class="faq-accordion" id="accordion">
                      <div class="card mb-2">
                        <div class="card-header" id="heading-1">
                          <h5 class="mb-0 faq-title">
                            <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">آیا استفاده از خدمات شما آسان است؟</button>
                          </h5>
           </div>
                        <div class="collapse" id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                          <div class="card-body">
                            <p class="faq-answer">mhmd، ذهن آماده انتقاد از کلیشه است، زیرا این زندگی بالاست
          ما تری ریچاردسون را به ماهی مرکب متهم می کنیم. 3 سرویس ماه گرگ
          ولی
          نه میل به اسکیت سواری، بلکه میل به صبحانه. کینوا کامیون مواد غذایی
          آنها نمی دانند
          از این قبیل کارها برانچ 3 گرگ زمان ماه، برخی از قرار دادن وجود دارد
          آ
          پرنده روی آن ماهی مرکب قهوه تک منشا بدون فرض
          کوتاه کردن
          و جای نگرانی نیست keffiyeh سوئیس، آبجو صنایع دستی کار سخت
          اندرسون
          من معتقدم آنها نمی دانند که عاقل هستند. به جز وگان ها
          قصاب
          چرخش لومو شلوار لی تیره آبجو دستی مزرعه تا میز. </p>
             </div>
           </div>
         </div>
                      <div class="card mb-2">
                        <div class="card-header" id="heading-2">
                          <h5 class="mb-0 faq-title">
                            <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">آیا به روز رسانی های آینده را دریافت خواهم کرد؟</button>
                          </h5>
           </div>
                        <div class="collapse" id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                          <div class="card-body">
                            <p class="faq-answer">mhmd، ذهن آماده انتقاد از کلیشه است، زیرا این زندگی بالاست
          ما تری ریچاردسون را به ماهی مرکب متهم می کنیم. 3 سرویس ماه گرگ
          ولی
          نه میل به اسکیت سواری، بلکه میل به صبحانه. کینوا کامیون مواد غذایی
          آنها نمی دانند
          از این قبیل کارها برانچ 3 گرگ زمان ماه، برخی از قرار دادن وجود دارد
          آ
          پرنده روی آن ماهی مرکب قهوه تک منشا بدون فرض
          کوتاه کردن
          و جای نگرانی نیست keffiyeh سوئیس، آبجو صنایع دستی کار سخت
          اندرسون
          من معتقدم آنها نمی دانند که عاقل هستند. به جز وگان ها
          قصاب
          چرخش لومو شلوار لی تیره آبجو دستی مزرعه تا میز. </p>
             </div>
           </div>
         </div>
                      <div class="card mb-2">
                        <div class="card-header" id="heading-3">
                          <h5 class="mb-0 faq-title">
                            <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">آیا این سرویس در کشور من کار می کند؟</button>
                          </h5>
           </div>
                        <div class="collapse" id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                          <div class="card-body">
                            <p class="faq-answer">mhmd، ذهن آماده انتقاد از کلیشه است، زیرا این زندگی بالاست
          ما تری ریچاردسون را به ماهی مرکب متهم می کنیم. 3 سرویس ماه گرگ
          ولی
          نه میل به اسکیت سواری، بلکه میل به صبحانه. کینوا کامیون مواد غذایی
          آنها نمی دانند
          از این قبیل کارها برانچ 3 گرگ زمان ماه، برخی از قرار دادن وجود دارد
          آ
          پرنده روی آن ماهی مرکب قهوه تک منشا بدون فرض
          کوتاه کردن
          و جای نگرانی نیست keffiyeh سوئیس، آبجو صنایع دستی کار سخت
          اندرسون
          من معتقدم آنها نمی دانند که عاقل هستند. به جز وگان ها
          قصاب
          چرخش لومو شلوار لی تیره آبجو دستی مزرعه تا میز. </p>
             </div>
           </div>
         </div>
                      <div class="card mb-2">
                        <div class="card-header" id="heading-4">
                          <h5 class="mb-0 faq-title">
                            <button class="btn btn-link  faq-btn  collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">چقدر باید بپردازم؟</button>
                          </h5>
           </div>
                        <div class="collapse" id="collapse-4" aria-labelledby="collapse-4" data-bs-parent="#accordion">
                          <div class="card-body">
                            <p class="faq-answer">mhmd، ذهن آماده انتقاد از کلیشه است، زیرا این زندگی بالاست
          ما تری ریچاردسون را به ماهی مرکب متهم می کنیم. 3 سرویس ماه گرگ
          ولی
          نه میل به اسکیت سواری، بلکه میل به صبحانه. کینوا کامیون مواد غذایی
          آنها نمی دانند
          از این قبیل کارها برانچ 3 گرگ زمان ماه، برخی از قرار دادن وجود دارد
          آ
          پرنده روی آن ماهی مرکب قهوه تک منشا بدون فرض
          کوتاه کردن
          و جای نگرانی نیست keffiyeh سوئیس، آبجو صنایع دستی کار سخت
          اندرسون
          من معتقدم آنها نمی دانند که عاقل هستند. به جز وگان ها
          قصاب
          چرخش لومو شلوار لی تیره آبجو دستی مزرعه تا میز. </p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
            </div>
          </div>
          <!--Start service content-->
          <!-- Start service sidebar-->
          <div class="col-12 col-xl-4">
            <div class="service-sidebar">
              <div class="sidebar-pane">
                <h2 class="sidebar-title">لیست خدمات</h2>
                <ul class="list">
                  <li class="list-item active"><i class="flaticon-web-development font-icon"></i><a href="#0"> توسعه وب<i class="bi bi-arrow-left icon"></i></a></li>
                  <li class="list-item"><i class="flaticon-nanotechnology font-icon"></i><a href="#0"> دیجیتال مارکتینگ<i class="bi bi-arrow-left icon"></i></a></li>
                  <li class="list-item"><i class="flaticon-web-domain font-icon"></i><a href="#0"> محصولات SaaS <i class="bi bi-arrow-left icon"></i></a></li>
                  <li class="list-item"><i class="flaticon-profile font-icon"></i><a href="#0"> توسعه برنامه ها<i class="bi bi-arrow-left icon"></i></a></li>
                  <li class="list-item"><i class="flaticon-search font-icon"></i><a href="#0"> خدمات سئو<i class="bi bi-arrow-left icon"></i></a></li>
                  <li class="list-item"><i class="flaticon-strategy font-icon"></i><a href="#0"> آنالیز دیتا ها<i class="bi bi-arrow-left icon"></i></a></li>
                </ul>
 </div>
              <div class="sidebar-pane">
                <div class="download-area">
                  <h2 class="sidebar-title">بارگیری دارایی ها</h2>
                  <p class="sidebar-text">شاید جالب باشد ولی هست لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و .</p>
                  <ul class="list">
                    <li class="list-item"><i class="flaticon-downloading font-icon"></i><a href="#0">
                         گزارش خدمات<i class="bi bi-arrow-left icon"></i></a></li>
                    <li class="list-item"><i class="flaticon-downloading font-icon"></i><a href="#0">
                         کلیه خدمات<i class="bi bi-arrow-left icon"></i></a></li>
                  </ul>
   </div>
 </div>
              <div class="sidebar-pane">
                <div class="social-area">
                  <h2 class="sidebar-title">ما را دنبال کنید</h2>
                  <div class="sc-wrapper dir-row sc-size-40">
                    <ul class="sc-list">
                      <li class="sc-item" title="فیسبوک"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                      <li class="sc-item" title="یوتوب"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-youtube sc-icon"></i></a></li>
                      <li class="sc-item" title="اینستاگرام"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-instagram sc-icon"></i></a></li>
                      <li class="sc-item" title="توییتر"><a class="sc-link" href="#0" title="آیکون شبکه اجتمایی"><i class="fab fa-twitter sc-icon"></i></a></li>
                    </ul>
     </div>
   </div>
 </div>
            </div>
          </div>
          <!-- End service sidebar-->
        </div>
      </div>
    </div>
    <!-- End inner Page hero-->
{% endblock content %}